/* Основные стили для тела страницы */
body {
    background: linear-gradient(to right, #ff7f50, #ff1493); /* Градиент от кораллового до розового */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Убираем прокрутку */
    animation: fadeIn 1s; /* Анимация появления страницы */
}

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Стили для заголовка */
h1 {
    font-size: 4em; /* Увеличиваем размер шрифта */
    text-align: center;
    margin: 0;
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.7); /* Увеличиваем тень */
    background: linear-gradient(to right, #ffcc00, #ff1493); /* Градиентный цвет */
    -webkit-background-clip: text; /* Обрезаем фон по тексту (для хрома и сафари) */
    -webkit-text-fill-color: transparent; /* Делаем текст прозрачным */
    animation: slideIn 1s forwards; /* Увеличиваем время анимации */
    opacity: 0; /* Скрываем заголовок для анимации */
    transform: translateY(-50px); /* Сдвиг вверх */
}

/* Анимация заголовка */
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0); /* Возвращаем на место */
    }
}

/* Стили для выделенного текста */
.highlight {
    font-size: 2.5em; /* Увеличиваем размер шрифта */
    color: #ffcc00; /* Цвет текста */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Добавляем тень для текста */
    margin-top: 20px; /* Отступ сверху */
    text-align: center; /* Центрируем текст */
}

/* Стили для абзацев */
p {
    font-size: 1.2em;
    line-h
